body {
  overflow-x: hidden;
  .first-section {
    position: relative;
    background-color: $black;
    .explosions-video {
      height: 790px;
    }
    .parallax-box {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      .imgs-box {
        position: relative;
        height: 100%;
        img {
          position: absolute;
          top: 0; 
          width: 100%;
          &:first-child, &:last-child {
            filter: brightness(85%);
          }
        }
      }
    }
  }
}