body {
  overflow-x: hidden;
  .first-section {
    position: relative;
    background-color: $black;
    .explosions-video {
      height: 790px;
    }
    .parallax-box {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      .imgs-box {
        position: relative;
        height: 100%;
        img {
          position: absolute;
          top: 0; 
          width: 100%;
          &:first-child, &:last-child {
            filter: brightness(85%);
          }
        }
      }
    }
    .titles-box {
      position: absolute;
      @include positions(50%, 20%);
      text-align: center;
      h1 {
        @include text-property(30px, $monoton, $white, uppercase);
        letter-spacing: 5px;
      }
      h5 {
        @include text-property(14px, $openSans, $white, uppercase);
        @include flex-property(flex, center, center);
        letter-spacing: 1px;
        font-weight: $light;
        margin: 7px 0 70px 0;
        &::before, &::after {
          content: "";
          display: inline-block;
          width: 25px;
          height: 0.5px;
          background-color: $white;
          margin: 0 5px;
        }
      }
      h2 {
        @include text-property(60px, $righteous, $white, uppercase);
        text-shadow: 2px 2px 15px $black;
      }
      .night-title {
        margin: 30px 0 100px 0;
      }
      p {
        @include text-property(26px, $openSans, $white, uppercase);
        font-weight: $bold;
        span {
          font-weight: $regular;
        }
      }
    }
    .horizontal-block {
      position: absolute;
      bottom: 3%;
      width: 100%;
      padding: 0 50px;
      @include flex-property(flex, space-between, center);
      h2 {
        @include text-property(45px, $monoton, $white, uppercase);
      }
      .social-icons {
        @include flex-property(flex, space-between, center);
        gap: 4px;
        a {
          width: 25px;
          height: 25px;
          background-color: $grey;
          border-radius: 50%;
          @include flex-property(flex, center, center);
          &::before {
            font-weight: $regular;
            @include text-property(13px, "FontAwesome", $black, none);
          }
        }
        .youtube::before {
          content: "\f167";
        }
        .instagram::before {
          content: "\f16d";
        }
        .twitter::before {
          content: "\f099";
        }
        .facebook::before {
          content: "\f39e";
        }
        .mail::before {
          content: "\f0e0";
        }
      }
    }
  }
}