// Colors
$black: #000000;
$white: #ffffff;

// Fonts
$monoton: 'Monoton';
$righteous: 'Righteous';
$openSans: 'Open Sans';

// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;